<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/model.css">
</head>
<body>
    <div class="container-custom text-white">
        <div class="row">
            <div class="col-4 d-flex flex-row justify-content-center align-items-center">
                <model-viewer id="glbAstro" camera-controls></model-viewer>
            </div>
            <div class="col-8 d-flex flex-column justify-content-center align-items-center">
                <div class="styled-col">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas dolor fuga, possimus molestiae, quidem quis quam rerum expedita cumque aliquid placeat pariatur! Dolorem maiores rem quia nisi adipisci accusantium dolor. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, magni dolorem fugit, ex nostrum alias, sit provident tempora maxime saepe consequatur reiciendis a velit. Officiis reiciendis quibusdam ipsum minima provident.</p>
                    <hr>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas dolor fuga, possimus molestiae, quidem quis quam rerum expedita cumque aliquid placeat pariatur! Dolorem maiores rem quia nisi adipisci accusantium dolor. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse minus, deserunt quos dolorum provident ducimus necessitatibus impedit, officiis reiciendis autem laborum? Cumque praesentium aspernatur eligendi voluptatem magnam, ducimus ratione nesciunt.</p>
                    <hr>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas dolor fuga, possimus molestiae, quidem quis quam rerum expedita cumque aliquid placeat pariatur! Dolorem maiores rem quia nisi adipisci accusantium dolor. Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum porro iusto minus commodi voluptatibus sed ipsum temporibus. Illum corporis beatae unde, aperiam aliquam culpa amet, totam dignissimos, esse blanditiis optio.</p>
                    <hr>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas dolor fuga, possimus molestiae, quidem quis quam rerum expedita cumque aliquid placeat pariatur! Dolorem maiores rem quia nisi adipisci accusantium dolor. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo veritatis unde cumque quasi? Et quia omnis ut quibusdam at, doloremque deserunt facilis consequatur, obcaecati eum illo odio delectus, sunt est.</p>
                </div>
                <a href="/project" class="btn btn-success mt-3">Go back to All Ideas</a>
            </div>
            
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.3.0/model-viewer.min.js"></script>
    <script src="/js/astronaut.js"></script>  
</body>
</html>