<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NanoImplementation in Space Suits</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/model.css">
</head>
<body>
    <div class="container-custom text-white">

        <div class="row d-flex flex-row align-items-center">
            <div class="col-lg-6 d-flex flex-row justify-content-center align-items-center">
                <model-viewer id="glbAstro" camera-controls></model-viewer>
            </div>
            <div class="col-lg-6 p-2 d-flex flex-column justify-content-center align-items-center">
                <div class="styled-col">
                        <h1 class="text-center">Nano Enhancements for Space</h1>
                        <hr>
                        <h3>Improved Material Strength and Durability</h3>
                        <p>Nanotechnology allows for the development of advanced materials with enhanced strength-to-weight ratios. By incorporating nanomaterials into the fabric of space suits, they can become more durable and resilient, offering better protection against micrometeoroids, radiation, and other hazards in space.</p>
                        <hr>

                        <h3>Smart Fabrics for Temperature Regulation</h3>
                        <p>Nanotechnology enables the creation of smart fabrics with embedded sensors and responsive elements. These materials can regulate temperature by adjusting insulation properties based on external conditions. This is crucial for space suits, as astronauts experience extreme temperature variations in space, from intense heat when exposed to the sun, to cold temperatures in the shadow of celestial bodies.</p>
                        <hr>

                        <h3>Self-Healing Materials</h3>
                        <p>Nanomaterials can be designed to possess self-healing properties. Incorporating such materials into space suits can help mitigate the risks of damage from impacts or wear and tear. Self-healing capabilities could automatically repair small punctures or tears, ensuring the integrity of the suit over extended missions.</p>
                </div>
                <div class="text-center">
                    <a href="/project" class="btn btn-success">Go back to all ideas</a>
                </div>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.3.0/model-viewer.min.js"></script>
    <script src="/js/astronaut.js"></script>  
</body>
</html>