<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    
    <div class="container-custom d-flex flex-column justify-content-center align-items-center">
        <%- include("./partials/navbar") %>
        <div class="row" id="row1">


            <div class="col-12 col-xl-6 text-white d-flex flex-column justify-content-center align-items-center">
                <h1 class="display-1 text-center">Our Ideas & Implementations</h1>
            </div>

            
            <div class="col-md-6 col-xl-3 d-flex flex-column justify-content-center align-items-center">
                <div class="card d-flex flex-column justify-content-center">
                    <model-viewer id="glbAstro" class="card-img-top" camera-controls></model-viewer>
                    <div class="card-body">
                      <h5 class="card-title text-center">Space Suit</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur fugit, provident repellendus necessitatibus est amet perferendis eos placeat nesciunt tempore quae minima sapiente, corrupti quod culpa quaerat velit dolorum illum.</p>
                      <div class="d-flex justify-content-center align-items-center">
                        <a href="/project/astronaut" class="btn btn-primary d-flex justify-content-center btn-model">View</a>
                    </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-xl-3 d-flex flex-column justify-content-center align-items-center">
                <div class="card">
                    <model-viewer id="glbPcb" class="card-img-top" camera-controls></model-viewer>
                    <div class="card-body">
                      <h5 class="card-title text-center">Micron Chip</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis mollitia doloremque corporis nostrum quidem magnam quam, omnis aperiam, aliquam vero veniam dignissimos. Voluptates voluptate reprehenderit libero obcaecati pariatur asperiores iusto.</p>
                      <div class="d-flex justify-content-center align-items-center">
                          <a href="/project/micronchip" class="btn btn-primary d-flex justify-content-center btn-model">View</a>
                      </div>
                    </div>      
                  </div>
            </div>


        </div>
        <%- include ("./partials/footer") %>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.3.0/model-viewer.min.js"></script>
    <script src="/js/astronaut.js"></script>    
    <script src="/js/pcb.js"></script>
</body>
</html>