model-viewer {
    min-height: 80vh;
}


.styled-col{

    background-color: #ffffff1a;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.row {
    max-width: 100vw;
    min-height: 100vh;
}