model-viewer{
    min-height: 100vh;
    min-width: 100%;
}
.row{
    min-height: 100vh;
}
.styled-col{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
    margin-right: 2rem;
    padding: 2rem;
}